# Python
__pycache__/
.pytest_cache/
.kiro/


# IDE and Editor files
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store



# Temporary folders
tmp/
temp/

# Jupyter Notebook
.ipynb_checkpoints


# PEP 582
__pypackages__/

# Environments
.env
.venv






